
  <div class="span2">  
    <ul class="nav nav-pills nav-stacked">  
      <li class="active">  
        <a href="#">System Menu</a>
      </li>
      <li>
        <%= link_to "Register Source", new_source_path %>
      </li>
      <li>
        <%= link_to "Register Student", new_student_path %>
      </li>
      <li>
        <%= link_to "Evaluate an Essay", "#" %>
      </li>
      <li><a href="#">. . . . .</a></li>   
    </ul>  
  </div> 